spring.application.name=backend

# H2 Database Configuration
spring.datasource.url=POSTGRESQL_JDBC_LINK_HERE
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.username=POSTGRESQL_USERNAME_HERE
spring.datasource.password=POSTGRESQL_PASSWORD_HERE

# JPA/Hibernate Configuration
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

# OAuth2 Github Configuration
spring.security.oauth2.client.registration.github.client-id=YOUR_CLIENT_ID_HERE
spring.security.oauth2.client.registration.github.client-secret=YOUR_SECRET_HERE
spring.security.oauth2.client.registration.github.scope=read:user,user:email

# File uploads
file.upload-dir=./uploads
file.upload-size-limit=5242880
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# Server URL
server.hosting-url=http://localhost:8080